

<template>
  <div class="about">
    <div id="Map" style="width: 2000px;height:812px;"></div>
  </div>
</template>
<script>
import axios from "@/assets/axios.js";
export default {
  data() {
    return {};
  },
  mounted() {
    this.draw();
  },
  methods: {
    data_process(LatLon, the_data) {
      let data = [];
      let count_LatLon = 0;
      //Define the value for each variable
      for (var key in LatLon["features"]) {
        count_LatLon++;
        let name_value = LatLon["features"][key]["properties"]["SA4_CODE"];
        let name_value1 = LatLon["features"][key]["properties"]["STATE_NAME"];
        LatLon["features"][key]["properties"]["name"] = name_value;
        if (the_data[name_value]) {
          let json = {
            name: name_value,
            value: the_data[name_value]["pol"] * 1000,
            inc: the_data[name_value]["inc"],
            edu: the_data[name_value]["edu"],
            emo: the_data[name_value]["pol1"],
			h1 : the_data[name_value]["hashtag1"],
			h2 : the_data[name_value]["hashtag2"],
			h3 : the_data[name_value]["hashtag3"],
            State_name:
              LatLon["features"][key]["properties"]["SA4_NAME"] +
              ", " +
              name_value1,
            sa4: LatLon["features"][key]["properties"]["SA4_NAME"]
          };
          data.push(json);
        }
      }
      let count_data = 0;
      return { LatLon: LatLon, data: data };
    },
    //echarts drawing
    draw() {
      let myChart = this.$echarts.init(document.getElementById("Map"));
      myChart.showLoading();
      //Get data from json and Back-end
      let LatLon = require("../assets/json/SA4_2016_AUST.json");
      let test_data = [];
      axios({
        method: "GET",
        url: "http://{{ansible_host}}:5000/admin"
      }).then(res => {
        test_data = res.data;
        console.log(test_data);
        let all_data = this.data_process(LatLon, test_data);
        console.log(all_data);
        this.$echarts.registerMap("Australia", all_data["LatLon"]);
        let option = {
          backgroundColor: "rgb(169,216,253)",
          title: {
            text: "Heat Map of People's Mood in Australia by Different Areas",
            left: "right"
          },
          tooltip: {
            position: function(point, params, dom, rect, size) {
              //Text position
              return { right: "20px", top: "20px" };
            },
            left: "left",
            trigger: "item",
            showDelay: 0,
            transitionDuration: 0.2,
            formatter: function(params) {
              //Text content
              var value = (params.value + "").split(".");
              value = value[0].replace(/(\d{1,3})(?=(?:\d{3})+(?!\d))/g, "$1,");
              return (
                "SA4 Code: " +
                params.data.name +
                "<br/>" +
                params.data.State_name +
                "<br/> Emotion: " +
                params.data.emo +
                "<br/> Income: $" +
                params.data.inc +
                "<br/>Education Level: " +
                params.data.edu +
                "%<br/>Top 3 Hashtag:<br/>" +
                params.data.h1 +
                "<br/>" +
                params.data.h2 +
                "<br/>" +
                params.data.h3
              );
            }
          },
          //Indicator
          visualMap: {
            left: "right",
            min: 0,
            max: 200,
            inRange: {
              color: [
                "#313695",
                "#4575b4",
                "#74add1",
                "#abd9e9",
                "#e0f3f8",
                "#ffffbf",
                "#fee090",
                "#fdae61",
                "#f46d43",
                "#d73027",
                "#a50026"
              ]
            },
            text: ["High", "Low"],
            calculable: false
          },
          //Tool box
          toolbox: {
            show: true,
            left: "left",
            top: "top",
            feature: {
              dataView: { readOnly: false },
              restore: {},
              saveAsImage: {}
            }
          },
          series: [
            {
              name: "Australia Map",
              type: "map",
              roam: true,
              aspectScale: 0.9,
              zoom: 1.3,
              map: "Australia",
              emphasis: {
                label: {
                  show: true, //Map showing
                  formatter: function(params) {
                    return params.data.sa4;
                  }
                }
              },
              textFixed: {
                Alaska: [20, -20]
              },
              data: all_data["data"]
            }
          ]
        };
        myChart.hideLoading(); //echarts loading closure
        myChart.setOption(option); //echarts drawing
      });
    }
  }
};
</script>
<style scoped>
.about {
  display: flex;
  justify-content: center;
}
</style>
